@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #FBF4EF;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}