@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #8782BC;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}

/* import bold montserrat font */
@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url('/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
}

.pulsing {
    animation: pulses 0.5s 0s linear infinite alternate;
}

@keyframes pulses {
    from   {fill:#FFFFFF;}
    to     {fill:#8b0000;}
}

.filter-white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}